<div class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 colored-rows border-none" matSort>

        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsAliases[column]}} </th>
            <td mat-cell *matCellDef="let element">
                <ng-container>
                    {{element[column]}}
                </ng-container>

            </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            [pageIndex]="indexPage"  aria-label = "Seleccionar página" (page)="onChangePage($event)">
    </mat-paginator>
</div>